
<!-- NAVBAR TOSTER -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
	<a href="${pageContext.request.contextPath }/index" class="navbar-brand">Find Collaborators</a>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav ml-auto">

			<li class="nav-item"><a class="nav-link"> You are logged in
					as: ${userLogin.uname} </a></li>
					
					
			<li class="nav-item px-2"><a
				href="${pageContext.request.contextPath }/showdashboard/${userLogin.id}"
				class="btn btn-secondary">Go to Dashboard</a></li>

			<li class="nav-item"><a
				href="${pageContext.request.contextPath }/logout"
				class="btn btn-secondary"> Log out </a></li>
		</ul>
	</div>
</nav>
